{
  "root": true,
  "extends": ["@react-native-community/eslint-config"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native",
    "jest",
    "no-relative-import-paths",
    "unused-imports"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-relative-import-paths/no-relative-import-paths": [
      "error",
      {"allowSameFolder": true, "rootDir": "src"}
    ],
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
    // "project": "./tsconfig.json" // Required for Standard plugin
  },
  "env": {
    "react-native/react-native": true
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-shadow": ["error"],
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/no-unused-vars": "off", // Using a diff lib for this
        "no-shadow": "off",
        "no-undef": "off",
        "no-catch-shadow": "off",
        "react/jsx-no-undef": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/jsx-pascal-case": "error",
        "react/no-array-index-key": "error",
        "react/react-in-jsx-scope": "error",
        "react/jsx-uses-react": "error",
        "react-native/no-unused-styles": "error",
        "react-native/no-inline-styles": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react-hooks/rules-of-hooks": "error"
        // "prettier/prettier": "off", // Turn off prettier
        // "comma-dangle":"always",
        // "react-native/no-raw-text": 2
        // "react-native/no-raw-text": ["warn",{"skip": ["CustomText"]}],
      }
    }
  ]
}
