{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "@react-native-community/eslint-config"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "jest",
    "no-relative-import-paths",
    "unused-imports"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-relative-import-paths/no-relative-import-paths": [
      "error",
      {"allowSameFolder": true, "rootDir": "src"}
    ],
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "no-empty-function": "error",
        "no-shadow": "off",
        "no-undef": "off",
        "no-catch-shadow": "off",
        "react/jsx-no-undef": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/jsx-pascal-case": "error",
        "react/no-array-index-key": "error",
        "react/react-in-jsx-scope": "error",
        "react/jsx-uses-react": "error",
        "react-native/no-unused-styles": "error",
        "react-native/no-inline-styles": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react-hooks/rules-of-hooks": "error"
        // "prettier/prettier": "off", // Turn off prettier
        // "comma-dangle":"always",
      }
    }
  ]
}
