{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-case": [
      2,
      "always",
      "upper-case"
    ],
    "type-enum": [
      2,
      "always",
      [
        "FEAT",
        "FIX",
        "CLEANUP",
        "REFACTOR",
        "UPDATE",
        "UPGRADE",
        "RELEASE",
        "BREAKING CHANGE",
        "DOCS",
        "TEST",
        "CI",
        "STYLE",
        "BUILD",
        "CHORE",
        "PERF",
        "REVERT"
      ]
    ],
    "subject-case": [
      2,
      "always",
      "sentence-case"
    ]
  }
}
